<div>
<ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol><ol>

<div>
  <ol><ol><ol><ol><ol><ol><ol>
  <h2>Getting Started</h2>
</div>


 <h6>This document describes the resources that make up the an api that responds with books or genres or customers.</h6>

 <h6>If you have any problems or requests, please <a href="auz.zamy@gmail.com">contact us</a>.</h6>
<br>

<div>
<ol><ol><ol><ol><ol><ol>
    <h3>Create an user account:</h3>
</div>

<p>[ To access most of the endpoints in the api you'll have to varify as an user and get the token to access the routes ]</p>

<ol>
  <li>
<p>Make a <code>POST</code> request to <code class="highlighter-rouge">https://something.com/api/register</code> with the following parameters:</p> </li>
  <div class="highlighter-rouge"><pre class="highlight"><code><span class="w"> </span><span class="p">{</span><span class="w">
 </span><span class="nt">"email"</span><span class="p">:</span><span class="w"> </span><span class="s2">"your email"</span><span class="p">,</span><span class="w">
 </span><span class="nt">"password"</span><span class="p">:</span><span class="w"> </span><span class="s2">"********"</span><span class="p">,</span><span class="w">
 </span></span><span class="p">}</span><span class="w">
</span></code></pre>
  </div>

<h5> Response: <code>Created</code> </h5>



<div>
<ol><ol><ol><ol><ol><ol>
<h3>Authorize User:</h3>
</div>

<ol>
  <li>
<p>Make a <code>POST</code> request to <code class="highlighter-rouge">https://something.com/api/auth</code> with the following</p>
<p> [ Has to be same as the one that you used to create an user or it'll return an Unauthorized error: </p>
 </li>
  <div class="highlighter-rouge"><pre class="highlight"><code><span class="w"> </span><span class="p">{</span><span class="w">
 </span><span class="nt">"email"</span><span class="p">:</span><span class="w"> </span><span class="s2">"your email"</span><span class="p">,</span><span class="w">
 </span><span class="nt">"password"</span><span class="p">:</span><span class="w"> </span><span class="s2">"********"</span><span class="p">,</span><span class="w">
 </span></span><span class="p">}</span><span class="w">
</span></code></pre>
  </div>

  <li>
    <p>If the user is found then it'll return the following:</p>
  </li>
    <p>The response body will be a JSON representation of your user’s access token:</p>

    <div class="highlighter-rouge"><pre class="highlight"><code><span class="w"> </span><span class="p">{</span><span class="w">
   </span><span class="nt">"access_token"</span><span class="p">:</span><span class="w"> </span><span class="s2">"091343ce13c8ae780065ecb3b13dc903475dd22cb78a05503c2e0c69c5e98044"</span><span class="p">,</span><span class="w">
   </span><span class="nt">"token_type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"jwt"</span><span class="p">,</span><span class="w">
   </span><span class="nt">"created_at"</span><span class="p">:</span><span class="w"> </span><span class="mi">1436544465</span><span class="w">
 </span><span class="p">}</span><span class="w">
</span></code></pre>
    </div>

    <p>Access tokens do not expires after 15days.</p>
  </li>

<div>
<ol><ol><ol><ol><ol><ol>
    <h3>Location</h3>
</div>

<p>The API is available at <code class="highlighter-rouge">https://locahost:3000/api/books</code>. Responses are sent as JSON format.</p>
<p>The API is available at <code class="highlighter-rouge">https://locahost:3000/api/genres</code>. Responses are sent as JSON format.</p>
<p>The API is available at <code class="highlighter-rouge">https://locahost:3000/api/customers</code>. Responses are sent as JSON format.</p>



<div>
<ol><ol><ol><ol><ol><ol>
    <h3>HTTP Verbs</h3>
</div>

<p>The Az's API uses HTTP verbs appropriate to each action.</p>

<table>
  <thead>
    <tr>
      <th>Verb</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GET</td>
      <td>Retrieving resources.</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>Creating resources.</td>
    </tr>
    <tr>
      <td>PUT</td>
      <td>Updating resources.</td>
    </tr>
    <tr>
      <td> DELETE </td>
      <td> Deleting resources.</td>
    </tr>
  </tbody>
</table>

<div>
<ol><ol><ol><ol><ol><ol>
    <br>
    <h3>Error messages</h3>
</div>

<p>If an error occurs, whether on the server or client side, the error message(s) will be returned in an <code class="highlighter-rouge">errors</code> array. For example:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>Unauthorized!! please go Authenticate
</code></pre>
</div>
<div class="language-javascript highlighter-rouge"><pre class="highlight"><code><span class="p">{</span>
  <span class="s2">"errors"</span><span class="err">:</span> <span class="p">[</span><span class="s2">"Not authorized"</span><span class="p">,</span> <span class="s2">"token found"</span><span class="p">]</span>
<span class="p">}</span>
</code></pre>
</div>


<div>
<ol><ol><ol><ol><ol><ol><ol><ol>
    <h2>Books</h2>
</div>


<br>
<h3>GET all the books</h3>
<h5><code>something.com/api/books</code></h5>

<p><em>Note</em>: To access all the books you are required to authorized</p>

<p><em>Note</em>: Without a jwt token (i.e. using a Client-ID token) this request will return a <code class="highlighter-rouge">401 Unauthorized</code> response.</p>



<h4 id="response"><a class="anchorjs-link " href="#response" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>Response</h4>

<div class="highlighter-rouge"><pre class="highlight"><code>200 OK
</code></pre>
</div>

<div class="language-javascript highlighter-rouge"><pre class="highlight"><code><span class="p">{</span>
  <span class="s2">"id"</span><span class="err">:</span> <span class="s2">"5c0f328a489a0399c00a4e0d"</span><span class="p">,</span>
  <span class="s2">"title"</span><span class="err">:</span> <span class="s2">"Journey of Make School"</span><span class="p">,</span>
  <span class="s2">"genre"</span><span class="err">:</span> <span class="s2">"story"</span><span class="p">,</span>
  <span class="s2">"description"</span><span class="err">:</span> <span class="s2">"A story about how make school had gotten started and how far it has come today"</span><span class="p">,</span>
  <span class="s2">"author"</span><span class="err">:</span> <span class="s2">"Aktar Zaman"</span><span class="p">,</span>
  <span class="s2">"publisher"</span><span class="err">:</span> <span class="s2">"Make School Press"</span><span class="p">,</span>
  <span class="s2">"pages"</span><span class="err">:</span> <span class="kc">500</span><span class="p">,</span>
  <span class="s2">"image_url"</span><span class="err">:</span> <span class="s2">"https://aktarzaman.com/"</span><span class="p">,</span>
  <span class="s2">"buy_url"</span><span class="err">:</span> <span class="s2">"https://aktarzaman.com/"</span><span class="p">,</span>


  [MORE books...]
    [MORE books...]
      [MORE books...]
        [MORE books...]
          [MORE books...]
</code></pre>
</div>

<h3 id="update-the-current-users-profile"><a class="anchorjs-link " href="#update-the-current-users-profile" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>GET one book using book id:</h3>

<h5><code>something.com/api/books/:_id</code></h5>


<h4 id="response-1"><a class="anchorjs-link " href="#response-1" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>Response</h4>


<div class="highlighter-rouge"><pre class="highlight"><code>200 OK
</code></pre>
</div>

<div class="language-javascript highlighter-rouge"><pre class="highlight"><code><span class="p">{</span>
  <span class="s2">"id"</span><span class="err">:</span> <span class="s2">"5c0f328a489a0399c00a4e0d"</span><span class="p">,</span>
  <span class="s2">"title"</span><span class="err">:</span> <span class="s2">"Journey of Make School"</span><span class="p">,</span>
  <span class="s2">"genre"</span><span class="err">:</span> <span class="s2">"story"</span><span class="p">,</span>
  <span class="s2">"description"</span><span class="err">:</span> <span class="s2">"A story about how make school had gotten started and how far it has come today"</span><span class="p">,</span>
  <span class="s2">"author"</span><span class="err">:</span> <span class="s2">"Aktar Zaman"</span><span class="p">,</span>
  <span class="s2">"publisher"</span><span class="err">:</span> <span class="s2">"Make School Press"</span><span class="p">,</span>
  <span class="s2">"pages"</span><span class="err">:</span> <span class="kc">500</span><span class="p">,</span>
  <span class="s2">"image_url"</span><span class="err">:</span> <span class="s2">"https://aktarzaman.com/"</span><span class="p">,</span>
  <span class="s2">"buy_url"</span><span class="err">:</span> <span class="s2">"https://aktarzaman.com/"</span><span class="p">,</span>
</code></pre>
</div>




<h3 id="update-the-current-users-profile"><a class="anchorjs-link " href="#update-the-current-users-profile" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>POST a book in the books:</h3>

<h5><code>something.com/api/books/:_id</code></h5>
<h6> Following parameter are required to create a book: </h6>


<h4 id="response-1"><a class="anchorjs-link " href="#response-1" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>Response</h4>


<div class="highlighter-rouge"><pre class="highlight"><code>created
</code></pre>
</div>

<div class="language-javascript highlighter-rouge"><pre class="highlight"><code><span class="p">{</span>
  <span class="s2">"title"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"genre"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"description"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"author"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"publisher"</span><span class="err">:</span> <span class="s2">"required "</span><span class="p">,</span>
  <span class="s2">"pages"</span><span class="err">:</span> <span class="kc">required</span><span class="p">,</span>
  <span class="s2">"image_url"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"buy_url"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
</code></pre>
</div>


<h3 id="update-the-current-users-profile"><a class="anchorjs-link " href="#update-the-current-users-profile" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>PUT a book in the books:</h3>

<h5><code>something.com/api/books/:_id</code></h5>
<h6> Following parameter are required to replace a book: </h6>


<h4 id="response-1"><a class="anchorjs-link " href="#response-1" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>Response</h4>


<div class="highlighter-rouge"><pre class="highlight"><code>created
</code></pre>
</div>

<div class="language-javascript highlighter-rouge"><pre class="highlight"><code><span class="p">{</span>
  <span class="s2">"title"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"genre"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"description"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"author"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"publisher"</span><span class="err">:</span> <span class="s2">"required "</span><span class="p">,</span>
  <span class="s2">"pages"</span><span class="err">:</span> <span class="kc">required</span><span class="p">,</span>
  <span class="s2">"image_url"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"buy_url"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
</code></pre>
</div>


<h3 id="update-the-current-users-profile"><a class="anchorjs-link " href="#update-the-current-users-profile" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>DELETE a book in the books:</h3>

<h5><code>something.com/api/books/:_id</code></h5>
<h6> Following parameter are required to delete a book: </h6>


<h4 id="response-1"><a class="anchorjs-link " href="#response-1" aria-label="Anchor" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: relative; margin-left: -1em; padding-right: 0.5em;"></a>Response</h4>


<div class="highlighter-rouge"><pre class="highlight"><code>null
</code></pre>
</div>

<div class="language-javascript highlighter-rouge"><pre class="highlight"><code><span class="p">{</span>
  <span class="s2">"id"</span><span class="err">:</span> <span class="s2">"5c0f328a489a0399c00a4e0d"</span><span class="p">,</span>
  <span class="s2">"title"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"genre"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"description"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"author"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"publisher"</span><span class="err">:</span> <span class="s2">"required "</span><span class="p">,</span>
  <span class="s2">"pages"</span><span class="err">:</span> <span class="kc">required</span><span class="p">,</span>
  <span class="s2">"image_url"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
  <span class="s2">"buy_url"</span><span class="err">:</span> <span class="s2">"required"</span><span class="p">,</span>
</code></pre>
</div>
</div>

<div>
    <ol><ol><ol>

        <h4>To call other endpoints such as: <code>something.com/api/customers </code> or  <code>something.com/api/genres </code> follow the same patters as books endpoint! </h4>
</div>

<div>
    <ol><ol><ol><ol><ol><ol>
        <h4> Look at the results first to see how the <code>JSON</code> then provide the right parameter when doing <code>POST, PUT or DELETE </code> </h4>
</div>
